---
layout: page
title: "About"
description: "嘿，你总算找到我啦"
header-img: "img/about-bg.jpg"
---
<br>
<br>
<center>这是一个在读大学生的个人博客，诞生于2016年9月，主人是率怀一。</center><br>
<center>我家主人喜欢ACG，爱玩PT，但是只有在搞代码的时候才会露出他的抖S本质</center><br>
<center>你可以在下面这些地方找到他的痕迹(≖ ‿ ≖)✧</center><br>
<ul class = "contacts">
	<li id = "email">
		email :{{ site.email }}
	</li>
	<li>
		github:<a target="_blank" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
	</li>
</ul>
<center>剩下的就不给看咯~~~</center>
<center color = "white">哼哼，你知道的太多了</center>
{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}